
/* Thanks: https://color.adobe.com/PDX-Carpet-color-theme-9282605 */
$PDX-Carpet-1: rgba(242,77,103, 1);
$PDX-Carpet-2: rgba(38,72,140, 1);
$PDX-Carpet-3: rgba(145,133,214, 1);
$PDX-Carpet-4: rgba(40,160,158, 1);
$PDX-Carpet-5: rgba(14,207,184, 1);

$PDX-Carpet-1-Light: rgba(242,77,103, .15);
$PDX-Carpet-2-Light: rgba(38,72,140, .15);
$PDX-Carpet-3-Light: rgba(145,133,214, .15);
$PDX-Carpet-4-Light: rgba(40,160,158, .15);
$PDX-Carpet-5-Light: rgba(14,207,184, .15);

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    text-align: justify;
}

// a { text-decoration: none; }
a:link { color: $PDX-Carpet-2; }
a:visited { color: $PDX-Carpet-3; }
a:hover { color: $PDX-Carpet-3; }
a:active { color: $PDX-Carpet-1; }


body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #ffffff;
}
footer {
    margin-top: auto;
}

header {
    display: flex;
    flex-direction: row;

    >div {
        margin: 8px;
        padding: 8px;
    }
    .info {
        flex: 1;
    }
}

table.schedule {
    width: 100%;
    td { padding: 1ex 1em; }
    border-collapse: collapse;
    tr.cancelled {
        background-color: $PDX-Carpet-5-Light;
    }
    thead { font-weight: bold; }
}

@media screen and (max-width: 799px) {
    html { font-size: small; }
}
